.suse-mono-<uniquifier > {
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.suse-<uniquifier > {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

:root {
  --main-bg-color: #f8ebd7;
  --main-body-color: black;
  --darkGreenAccent: #6a7b06;
  --lightPinkAccent: #ffc8d9;
  --accentOrange: #fa4300;
  --accentPink: #d3006f;
  --accentCrimson: #d9155d;
  --accentBlue: #2193b0;
  --main-heading-font: "SUSE Mono", serif;
  --main-body-font: "SUSE", sans-serif;
  font-size: 16px;
}

html {
  scroll-padding-top: 4rem;
  /* --max-width: 1600px; */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--main-body-color);
  font-family: var(--main-body-font);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: var(--lightPinkAccent);
  font-weight: 500;
  flex-wrap: wrap;
}

nav a {
  padding: 1rem 1.5rem;
  text-align: center;
  display: flex;
  color: var(--accentCrimson);
  text-decoration: none;
}

nav a:hover {
  background-color: var(--accentCrimson);
  color: var(--lightPinkAccent);
  transition: color 0.2s;
}

main {
  padding-top: 3.5rem;
}

section {
  margin: 16px auto;
  max-width: 1080px;
}

a {
  color: var(--darkGreenAccent);
}

h1 {
  margin: 0 auto;
  max-width: 1080px;
  text-align: center;
  font-family: var(--main-heading-font);
  font-weight: 700;
  color: var(--darkGreenAccent);
  font-size: clamp(2rem, 5vw, 4rem);
  font-style: oblique;
}

h2 {
  color: var(--accentPink);
  font-family: var(--main-heading-font);
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: 600;
  margin: 0;
}

h3 {
  color: var(--accentOrange);
  font-family: var(--main-heading-font);
  font-size: clamp(1.25rem, 2.5vw, 2rem);
  font-weight: 600;
  margin: 0;
}

h4 {
  color: var(--accentBlue);
  font-family: var(--main-heading-font);
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 600;
  margin: 0;
}

#about {
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 5fr;
  column-gap: 2rem;
  align-content: start;
}

#about h2 {
  grid-column: 2 / 3;
  grid-row-start: 1;
}

#frida-headshot {
  border-radius: 5%;
  grid-row: span 2;
  align-self: start;
}

.responsive-photo {
  width: 100%;
  max-width: 400px;
  min-width: 250px;
  height: auto;
}

#bio {
  grid-column: 2 / 3;
  grid-row-start: 2;
  align-self: start;
  margin: 0;
}

/* Experience Section: using Grid layout */

#experience h3 {
  margin: 1rem 0;
}

#coursework strong {
  color: var(--accentBlue);
}

.exp-item {
  display: grid;
  grid-template-columns: 4fr 1fr;
  row-gap: 4px;
  margin-bottom: 20px;
}

.job-title {
  grid-column: 1 / 2;
  position: relative;
  font-weight: 500;
}

.job-title strong {
  color: var(--accentCrimson);
  font-weight: 700;
}

.job-title::before {
  content: "\1F338";
  position: absolute;
  left: -2rem;
  font-size: 1.25rem;
  top: -0.25rem;
}

.job-date {
  grid-column: 2 / 3;
  color: var(--accentBlue);
  font-weight: 600;
  justify-self: end;
}

.job-description {
  grid-row-start: 2;
  grid-column: span 2;
}

/* Display skills section using Grid layout */
#skills ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  list-style-type: "\1F3A8";
  color: var(--accentBlue);
  font-weight: 600;
}

#skills li {
  padding: 0.5rem;
  max-width: fit-content;
}

/* Display Projects section using Grid layout */
#projects ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  list-style-type: "\1F4C2";
  color: var(--darkGreenAccent);
  font-weight: 600;
}

#projects li {
  padding: 0.5rem;
  max-width: fit-content;
}

/* Connect section using Flexbox layout */
#connect ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 1rem 0;
}

#linkedin,
#github {
  color: var(--accentBlue);
  font-size: 2rem;
  margin: 0 10px;
}

#linkedin:hover,
#github:hover {
  color: var(--darkGreenAccent);
  transition: color 0.2s;
}

#messageForm {
  display: grid;
}

#messageForm h2 {
  text-align: center;
}

#leaveMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.inputLabel {
  width: 30rem;
  letter-spacing: 0.05rem;
}

.inputText {
  width: 29rem;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  border: 1px solid transparent;
  border-radius: 20px;
  font-family: var(--main-body-font);
  padding: 0.5rem;
}

.inputText:hover {
  background-color: hsl(36, 70%, 95%);
}

#inputMessageButton {
  background-color: var(--darkGreenAccent);
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid transparent;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: white;
  font-weight: bold;
  width: 30rem;
}

#inputMessageButton:hover {
  background-color: white;
  border: 3px solid var(--darkGreenAccent);
  color: var(--darkGreenAccent);
}

#messageList {
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 1rem;
}

#messageList li {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto 1fr;
  column-gap: 1rem;
  row-gap: 0.25rem;
}

#messageList a {
  margin-bottom: 0.25rem;
  grid-row-start: 1;
  grid-column: 1 / 4;
}

#messageList span {
  margin-bottom: 0.5rem;
  grid-row-start: 2;
  grid-column: 1 / 4;
}

#messageList button.remove {
  grid-row-start: 3;
  grid-column-start: 2;
  background-color: var(--accentOrange);
  padding: 0.25rem;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid transparent;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: white;
  font-weight: bold;
  width: 6rem;
}

#messageList button.remove:hover {
  background-color: white;
  border: 3px solid var(--accentOrange);
  color: var(--accentOrange);
}

#messageList button.edit {
  grid-row-start: 3;
  grid-column-start: 1;
  background-color: var(--accentCrimson);
  padding: 0.25rem;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid transparent;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: white;
  font-weight: bold;
  width: 6rem;
}

#messageList button.edit:hover {
  background-color: white;
  border: 3px solid var(--accentCrimson);
  color: var(--accentCrimson);
}

#messageList button.save {
  background-color: var(--accentBlue);
  padding: 0.25rem;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid transparent;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: white;
  font-weight: bold;
  width: 6rem;
}

#messageList button.save:hover {
  background-color: white;
  border: 3px solid var(--accentBlue);
  color: var(--accentBlue);
}

#messageList input {
  margin-bottom: 0.5rem;
  grid-row-start: 2;
  grid-column: 1 / 4;
  border: 1px solid transparent;
  border-radius: 20px;
  font-family: var(--main-body-font);
  padding: 0.5rem;
  font-size: 1rem;
}

#messages[hidden] {
  display: none;
}

footer {
  margin: 0 auto;
  max-width: 1080px;
}

/* WIP: media queries for mobile */
@media screen and (max-width: 500px) {
  h1 {
    margin: 90px 0 0 0;

    text-align: center;
  }

  #about {
    grid-template-columns: 1fr;

    grid-template-rows: 3fr;

    max-width: 94%;
  }

  #subheader {
    grid-column: 1;

    grid-row-start: 1;
  }

  #frida-headshot {
    grid-row: 1;

    grid-column: 1;

    grid-row-start: 2;
  }

  #bio {
    grid-column: 1;

    grid-row-start: 3;
  }
}
